@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to the ARPG application. This application allows you to browse stories of which you are the hero in ASCII format!</p>
</div>
