@model ARPG.Models.Action

@{
    ViewData["Title"] = "End";
}

<h1>End</h1>

<div>
    @if (ViewBag.win != null && ViewBag.win)
    {
        <h4>Won</h4>
    }
    else
    {
        <h4>Lost</h4>
    }
    <hr />

</div>
<div>
    <a asp-action="Index">Back to Books</a>
</div>
